body {
    font-family: 'Roboto', sans-serif;
    font-size: 4.3rem;
    text-align: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-attachment: fixed;
    margin: 0;
}

#wrp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h6 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
}

#turn {
    margin-bottom: 3rem;
}

#round {
    margin-top: 3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    justify-content: center;
}

.grid div {
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.grid .h1 {
    border-top: none;
}

.grid .v3 {
    border-right: none;
}

.grid .h3 {
    border-bottom: none;
}

.grid .v1 {
    border-left: none;
}

.start .swal-footer {
    text-align: center;
    margin-bottom: 13px;
}

.start .swal-button {
    font-size: 2rem;
    padding: 20px 48px;
}

@media screen and ((max-width: 350px) or (max-height: 350px)) {
    .grid {
        width: 310px;
    }

    .grid div {
        width: 100px;
        height: 100px;
    }
}

@media screen and ((max-width: 310px) or (max-height: 310px)) {
    .grid {
        width: 280px;
    }

    .grid div {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-height: 530px) {
    #turn {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    #round{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 440px) {
    #round{
        font-size: 0;
    }
}

@media screen and (max-height: 420px) {
    #turn{
        font-size: 0;
    }
}
